n8n/workflows/Netbox/NetBox_Create_IP_Address.json
{
  "name": "NetBox_Create_IP_Address",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "schema": [
            {
              "name": "ip_address",
              "type": "string",
              "displayName": "IP Address",
              "required": true,
              "description": "IP address in CIDR notation (e.g., 192.168.1.10/24)"
            },
            {
              "name": "vrf",
              "type": "number",
              "displayName": "VRF ID",
              "required": false,
              "description": "VRF ID (optional)"
            },
            {
              "name": "status",
              "type": "string",
              "displayName": "Status",
              "required": false,
              "description": "IP status (active, reserved, deprecated, dhcp) - defaults to active"
            },
            {
              "name": "dns_name",
              "type": "string",
              "displayName": "DNS Name",
              "required": false,
              "description": "DNS name for this IP address"
            },
            {
              "name": "description",
              "type": "string",
              "displayName": "Description",
              "required": false,
              "description": "IP address description"
            },
            {
              "name": "assigned_object_type",
              "type": "string",
              "displayName": "Assigned Object Type",
              "required": false,
              "description": "Object type (dcim.interface, virtualization.vminterface)"
            },
            {
              "name": "assigned_object_id",
              "type": "number",
              "displayName": "Assigned Object ID",
              "required": false,
              "description": "ID of the interface or VM interface"
            }
          ]
        }
      },
      "id": "trigger-create-ip",
      "typeVersion": 1.1,
      "name": "When_Called_From_Another_Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        240,
        340
      ]
    },
    {
      "parameters": {
        "url": "=http://172.27.0.1:8443/api/ipam/ip-addresses/?address={{ encodeURIComponent($json.ip_address) }}{{ $json.vrf ? '&vrf_id=' + $json.vrf : '' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-ip-exists",
      "name": "Check_IP_Exists",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        340
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zUcs6TpKWgVP6mF0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ip-count-check",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        340
      ],
      "id": "if-ip-not-exists",
      "name": "If_IP_Not_Exists"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $('When_Called_From_Another_Workflow').item.json;\n\nconst body = {\n  address: inputData.ip_address,\n  status: inputData.status || 'active'\n};\n\nif (inputData.vrf) body.vrf = inputData.vrf;\nif (inputData.dns_name) body.dns_name = inputData.dns_name;\nif (inputData.description) body.description = inputData.description;\nif (inputData.assigned_object_type && inputData.assigned_object_id) {\n  body.assigned_object_type = inputData.assigned_object_type;\n  body.assigned_object_id = inputData.assigned_object_id;\n}\n\nreturn { body: JSON.stringify(body) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        240
      ],
      "id": "prepare-ip-body",
      "name": "Prepare_IP_Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.27.0.1:8443/api/ipam/ip-addresses/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "create-ip",
      "name": "Create_IP_Address",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        240
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "zUcs6TpKWgVP6mF0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: true,\n  action: 'created',\n  ip_address: $input.item.json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        240
      ],
      "id": "format-success-response",
      "name": "Format_Success_Response"
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: false,\n  action: 'already_exists',\n  message: `IP address '${$('When_Called_From_Another_Workflow').item.json.ip_address}' already exists`,\n  existing_ip: $input.item.json.results[0]\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        440
      ],
      "id": "format-exists-response",
      "name": "Format_Already_Exists_Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When_Called_From_Another_Workflow": {
      "main": [
        [
          {
            "node": "Check_IP_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_IP_Exists": {
      "main": [
        [
          {
            "node": "If_IP_Not_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_IP_Not_Exists": {
      "main": [
        [
          {
            "node": "Prepare_IP_Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format_Already_Exists_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_IP_Body": {
      "main": [
        [
          {
            "node": "Create_IP_Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_IP_Address": {
      "main": [
        [
          {
            "node": "Format_Success_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "netbox-create-ip-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33e6ca7ddf2f77d2ef98800e4412f09f960dcc9053dea5ab0e0a442e71828fa9"
  },
  "id": "netbox-create-ip",
  "tags": []
}
