n8n/workflows/Chat_Ops/Netbox_GET_PATCH.json
{
  "name": "Netbox_GET_PATCH",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "schema": [
            {
              "name": "method",
              "type": "string",
              "displayName": "HTTP Method",
              "required": true,
              "description": "HTTP method: GET, POST, PATCH, or DELETE"
            },
            {
              "name": "url",
              "type": "string",
              "displayName": "API URL",
              "required": true,
              "description": "Full NetBox API endpoint URL"
            },
            {
              "name": "body",
              "type": "json",
              "displayName": "Request Body",
              "required": false,
              "description": "JSON body for POST/PATCH requests"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When_Executed_by_Another_Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "GET",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "574677e0-c658-4fd0-90eb-d1c0a1df9c98"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5184d9d4-0677-4adb-96e6-70e5c75fd5e2",
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "POST",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "POST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "patch-condition",
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "PATCH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PATCH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "delete-condition",
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DELETE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        500,
        360
      ],
      "id": "d5640503-5d1c-4577-9869-05c0b870f055",
      "name": "Route_by_Method"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        200
      ],
      "id": "http-get-node",
      "name": "HTTP_GET",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zUcs6TpKWgVP6mF0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        360
      ],
      "id": "http-post-node",
      "name": "HTTP_POST",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zUcs6TpKWgVP6mF0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        520
      ],
      "id": "http-patch-node",
      "name": "HTTP_PATCH",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zUcs6TpKWgVP6mF0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        680
      ],
      "id": "http-delete-node",
      "name": "HTTP_DELETE",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zUcs6TpKWgVP6mF0",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When_Executed_by_Another_Workflow": {
      "main": [
        [
          {
            "node": "Route_by_Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route_by_Method": {
      "main": [
        [
          {
            "node": "HTTP_GET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_POST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_PATCH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5a27650-2fb9-4299-9f5f-88ccaf416b24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33e6ca7ddf2f77d2ef98800e4412f09f960dcc9053dea5ab0e0a442e71828fa9"
  },
  "id": "iFdce10U79cPTeIt",
  "tags": []
}